*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

ul, ol{
    list-style: none;
}

html, body{
    font-family: 'Outfit', sans-serif;
}

header{
    padding: 20px;
    height: 10%;
    /*background-color: aqua;*/
}

a{
    text-decoration: none;
}

/* Util */
.flex{
    display: flex;
    align-items: center;
}

.nav{
    justify-content: space-between;
    width: 100%;
}

.medium{
    font-weight: 500;
}

.light{
    font-weight: 300;
}

.right_nav{
    width: 58%;
    justify-content: space-between;
}

.menu{
    width: 60%;
    justify-content: space-between;
}

.menu *{
    color: #D183C9;
}

.left_nav{
    width: 10%;
    justify-content: space-between;
}

.banner{
    position: relative;
}

.banner__background *{
    width: 100%;
}

.banner__content{
    position: absolute;
    bottom: 55px;
    left: 30px;
}

.content__title{
    font-size: 72px;
    color: #FFF;
}

.content__subtitle{
    font-size: 48px;
    color: #FFF;
}

.carsl{
    position: relative;
}

.carsl__title{
    font-size: 24px;
    color: #643A71;
}

.carsl__arrows{
    position: absolute;
    top: 50%;
    background-color: transparent;
    border-style: none;
}

.--left{
    left: 20px;
}

.--right{
    right: 20px;
}

.carsl__img{
    position: relative;
}

.img_title{
    font-size: 72px;
    color: #FFF;
    position: absolute;
    bottom: 0;
}

.--outside{
    display: none;
}

.news__info{
    flex-direction: column;
    justify-content: center;
}

.news__title{
    font-size: 45px;
    color: #643A71;
    text-align: center;
    width: 75%;
}

.news__text{
    font-size: 30px;
    color: #8B5FBF;
    width: 60%;
}

.news__cta{
    border-width: 2px;
    font-size: 30px;
    color: #D183C9;
    padding: 10px;
}