*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

ul, ol{
    list-style: none;
}

html, body{
    font-family: 'Outfit', sans-serif;
}

header{
    padding: 20px;
    height: 10%;
}

a{
    text-decoration: none;
}

button{
    background-color: transparent;
    border-style: none;
}

footer{
    background-color: #f3f3f3;
}

/*util*/
.flex{
    display: flex;
    align-items: center;
}

.nav{
    justify-content: space-between;
    width: 100%;
}

.medium{
    font-weight: 500;
}

.light{
    font-weight: 300;
}

.color--dark{
    color: #643A71;
}

.color--light{
    color: #D183C9;
}

.color--white{
    color: #FFF;
}

/*header*/
.right__nav{
    width: 58%;
    justify-content: space-between;
}

.right__nav button{
    display: none;
}

.menu{
    width: 60%;
    justify-content: space-between;
}

.menu *{
    font-size: 100%;
}

.left__nav{
    width: 10%;
    justify-content: space-between;
}

/*banner*/
.banner{
    position: relative;
    margin-bottom: 25px;
}

.banner__background *{
    width: 100%;
}

.banner__content{
    position: absolute;
    bottom: 55px;
    left: 30px;
}

.content__title{
    font-size: 500%;
}

.content__subtitle{
    font-size: 250%;
}

/*carousel*/
.carsl{
    position: relative;
    margin-bottom: 25px;
    width: 100%;
}

.carsl__title{
    font-size: 150%;
}

.carsl__arrows{
    position: absolute;
    top: 50%;
}

.--left{
    left: 20px;
}

.--right{
    right: 20px;
}

.carsl__img{
    position: relative;
    margin-right: 20px;
    width: 33%;
}

.img__title{
    font-size: 72px;
    position: absolute;
    bottom: 0;
}

.--outside{
    display: none;
}


/*news*/
.news{
    margin-bottom: 25px;
    width: 100%;
}

.news__img--responsive{
    display: none;
}

.news__info{
    flex-direction: column;
    justify-content: center;
}

.news__title{
    font-size: 45px;
    text-align: center;
    width: 75%;
}

.news__text{
    font-size: 30px;
    color: #8B5FBF;
    width: 60%;
}

.news__cta{
    border-width: 2px;
    font-size: 30px;
    padding: 10px;
}

/*footer*/
.footer__container{
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: space-around;
    align-items: flex-start;
    height: 45%;
    width: 100%;
}

.footer__subcontainer{
    flex-direction: column;
    width: 10%;
    text-align: center;
}

.footer__subtitle{
    font-size: 24px;
}

.footer__list{
    flex-direction: column;
    margin-top: 5px;
}

.footer__list *{
    width: 100px;
    padding-top: 2px;
}

.image__link{
    margin-top: 10px;
    align-items: center;
}

.image__link *{
    padding-right: 7px;
}

#divider{
    border-color: #d183c97a;
}

.footer__links *{
    padding-left: 10px;
    padding-right: 10px;
}
