*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html, body{
    font-family: 'Outfit', sans-serif;
}

.flex{
    display: flex;
}

.main{
    flex-direction: row;
    align-items: center;
    height: 100%;

}

.aside{
    width: 30%;

    background-color: whitesmoke;
}

.info{
    flex-direction: column;
    width: 100%;
}
