/*Cellphones 420px or less*/
@media all and (max-width: 549px){

    /*all*/
    section{
        margin-bottom: 40px !important;
    }

    /*header*/
    .right__nav button{
        display: inline;
    }

   .menu{
       display: none;
   }

   .left__nav{
       width: 20%;
   }

   #icon__user{
       display: none;
   }

    /*banner*/
    .banner__background{
        display: none;
    }

    .banner__content{
        position: inherit;
        left: 0;
        bottom: 0;
        width: 70%;
        height: 50%;
    }

    .content__title{
        color: #643A71;
        font-size: 200%;
        padding-left: 19px;
    }

    .content__subtitle{
        display: none;
    }

    /*carousel*/
    .carsl__title{
        display: none;
    }

    .carsl__display{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .carsl__img{
        width: 100%;
    }

    .carsl__img img{ 
        width: 100%;
    }

    .img__title{
        font-size: 300%;
    }

    .carsl__arrows{
        display: none;
    }

    /*news*/
    .news{
        flex-direction: column-reverse;
        position: relative;
    }

    .news img{
        width: 100%;
        height: 100%;
    }

    .news__img--web{
        display: none;
    }

    .news__img--responsive{
        display: block;
    }

    .news__info{
        width: 100%;
    }

    .news__info *{
        width: 95%;
        text-align: left;
        padding-top: 5px;
    }

    .news__title{
        width: 100%;
        position: absolute;
        top: 50%;
        font-size: 220%;
        color: #FFF;
    }

    .news__text{
        font-size: 85%;
        color: #643A71;
    }

    .news__cta{
        font-size: 110%;
    }

    /*footer*/
    .image__link{
        display: none;
    }

    .footer__list{
        display: none;
    }

    .footer__logo{
        display: none;
    }

    .footer__container{
        flex-direction: column;
        align-items: center;
    }

    .footer__container h3{
        font-size: 130%;
        padding: 10px;
    }

    .footer__subcontainer{
        width: 100%;
    }

    .footer__links{
        flex-direction: column;
    }

    .footer__links a{
        padding: 10px;
    }

    .image__link--copyright{
        display: block;
    }
}

/*Cellphones 280px or less*/
@media all and (max-width: 340px){
    /*header*/
    .right__nav{
        width: 70%;
    }

    .right__nav img{
        width: 70%;
    }

    .left__nav{
        width: 25%;
    }

    .left__nav img{
        width: 90%;
    }

    /*news*/
    .news__title{
        top: 45%;
        font-size: 150%;
    }
}

/*Tablet between 450px & 915px*/
@media all and (min-width: 550px) and (max-width: 915px){

    /*all*/
    
    /*header*/
    .right__nav{
        width: 68%;
    }

    .menu{
        width: 68%;
    }

    .menu li{
        padding-left: 5px;
        padding-right: 5px;
    }

    .left__nav{
        width: 15%;
    }

    /*banner*/
    .banner__content{
        bottom: 5%;
        left: 3%;
    }

    .banner__content h1{
        font-size: 350%;
    }

    .banner__content h2{
        font-size: 200%;
    }

    /*carsl*/
    .carsl__display{
        width: 100%;
    }

    .carsl__img{
        margin-right: 3px;
    }

    .carsl__img img{
        width: 100%;
    }

    .carsl__img h2{
        font-size: 350%;
        bottom: 1%;
        left: 2%;
    }
}