@media all and (max-width: 420px){

    /*header*/
    .right__nav button{
        display: inline;
    }

   .menu{
       display: none;
   }

   .left__nav{
       width: 20%;
   }

   #icon__user{
       display: none;
   }

    /*banner*/
    .banner__background{
        display: none;
    }

    .banner__content{
        width: 70%;
        height: 50%;
        bottom: 5px;
        left: 3px;
        padding-bottom: 10px;
    }

    .content__title{
        color: #643A71;
        font-size: 200%;
        padding-left: 19px;
    }

    .content__subtitle{
        display: none;
    }

    /*carousel*/
    .carsl__title{
        display: none;
    }

    .carsl__display{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .carsl__img{
        width: 100%;
    }

    .carsl__img img{ 
        width: 100%;
    }

    .carsl__arrows{
        display: none;
    }

    /*news*/
    .news{
        flex-direction: column;
    }

    .news img{
        width: 100%;
    }
}